@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Firma MVC</p>

    <a href="/Department/">Departamenty</a>
    <br />
    <a href="/Books/SearchTemplate/">Pracownicy</a>
    <br />
    <br />
    Jakiś test
    <br />
    <a href="/ArrayTest">Przyklad</a>
    <br />
</div>
